body{
  background-color: lightyellow;
}
header{
  border: 2px dashed black;
  background-color: rgb(72, 100, 72);
  margin: 5px;
  padding: 5px;
  text-align: center;
}
section{
  border: 2px solid black;
  background-color: lightgray;
  margin: 5px;
  padding: 25px;
  text-align: ;
}

footer{
  border: 2px dashed black;
  margin:5px;
  padding: 5px;
  text-align:center; 
}
h1{
  font-size: 2em;
  color:black;
}
h2{
  font-size: 1.5em;
  color: black;
}

ol{
  list-style-type: decimal;
}